In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('C:/Users/VIVEK/Desktop/Deployment/new_houseprice.csv')
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [18]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,57.623288,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.117123,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,34.664304,9981.264932,1.382997,1.112799,30.202904,20.645407,180.731373,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,0.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,42.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,63.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,79.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,164.250000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [20]:

# Find the correlations between the features and the target variable (SalePrice)
corr_matrix = data.corr()
corr_saleprice = corr_matrix['SalePrice'].sort_values(ascending=False)

# Print the top 10 most correlated features
print(corr_saleprice[:7])

SalePrice      1.000000
OverallQual    0.790982
GrLivArea      0.708624
GarageCars     0.640409
GarageArea     0.623431
TotalBsmtSF    0.613581
1stFlrSF       0.605852
Name: SalePrice, dtype: float64

C:\Users\VIVEK\AppData\Local\Temp\ipykernel_12256\2170365421.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = data.corr()

In [29]:
x=data.loc[:,corr_matrix['SalePrice'].sort_values(ascending=False)[1:7].index]
x

      OverallQual  GrLivArea  GarageCars  GarageArea  TotalBsmtSF  1stFlrSF
0               7       1710           2         548          856       856
1               6       1262           2         460         1262      1262
2               7       1786           2         608          920       920
3               7       1717           3         642          756       961
4               8       2198           3         836         1145      1145
...           ...        ...         ...         ...          ...       ...
1455            6       1647           2         460          953       953
1456            6       2073           2         500         1542      2073
1457            7       2340           1         252         1152      1188
1458            5       1078           1         240         1078      1078
1459            5       1256           1         276         1256      1256

[1460 rows x 6 columns]

In [28]:
y=data['SalePrice']
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [19]:
for col in data.columns[1:]:
    if data[col].dtype == 'object':
        if data[col].isnull().sum()!=0:
            data[col].fillna('missing',inplace=True)
    if data[col].dtype != 'object':
        if data[col].isnull().sum()!=0:
            data[col].fillna(0,inplace=True)
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,missing,Reg,Lvl,AllPub,...,0,missing,missing,missing,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,missing,Reg,Lvl,AllPub,...,0,missing,missing,missing,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,missing,IR1,Lvl,AllPub,...,0,missing,missing,missing,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,missing,IR1,Lvl,AllPub,...,0,missing,missing,missing,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,missing,IR1,Lvl,AllPub,...,0,missing,missing,missing,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,missing,Reg,Lvl,AllPub,...,0,missing,missing,missing,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,missing,Reg,Lvl,AllPub,...,0,missing,MnPrv,missing,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,missing,Reg,Lvl,AllPub,...,0,missing,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,missing,Reg,Lvl,AllPub,...,0,missing,missing,missing,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,missing,Reg,Lvl,AllPub,...,0,missing,missing,missing,0,6,2008,WD,Normal,147500

In [24]:
from feature_engine.selection import DropConstantFeatures,DropCorrelatedFeatures,DropDuplicateFeatures
from sklearn.pipeline import Pipeline
pip=Pipeline([('Constant',DropConstantFeatures(tol=0.99)),('Duplicate',DropDuplicateFeatures()),('Correlated',DropCorrelatedFeatures())])
x_new=pip.fit_transform(x)

In [25]:
x_new.shape

(1460, 4)

In [26]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
for col in x_new.columns[1:]:
    if x_new[col].dtype == 'object':
        x_new[col]=l.fit_transform(x_new[col])

In [31]:
x_new = x
x_new.head()

   OverallQual  GrLivArea  GarageCars  GarageArea  TotalBsmtSF  1stFlrSF
0            7       1710           2         548          856       856
1            6       1262           2         460         1262      1262
2            7       1786           2         608          920       920
3            7       1717           3         642          756       961
4            8       2198           3         836         1145      1145

In [32]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error
model=RandomForestRegressor()
x_train,x_test,y_train,y_test=train_test_split(x_new,y,train_size=0.7,random_state=0)

In [33]:
model.fit(x_train,y_train)
pred=model.predict(x_test)

In [34]:
r2_score(y_test,model.predict(x_test))

0.8419371678721757

In [35]:
mean_absolute_error(y_test,model.predict(x_test))

21211.89906690525

In [36]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))